
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #FF9324;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

@layer utilities {

  @keyframes text-shine {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }

  .animate-text-shine {
    animation: text-shine 3s ease-in-out infinite alternate;
  }

  .input-box {
    @apply w-full flex justify-between text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border;
    gap: 0.75rem;
  }

  .btn-primary {
    @apply w-full flex items-center justify-center text-sm font-medium text-white bg-black shadow-lg;
    gap: 0.75rem;
  }

  .btn-small {
    @apply flex items-center justify-center text-sm font-semibold text-white bg-gradient-to-r from-[#FF9324] to-[#e99a4b];
    gap: 0.75rem;
  }
}
